{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Aplicaciones de Internet</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>     
    <style>
        h1 { margin-bottom: 20px; }
        h2 { font-size: 25px; margin-bottom: 10px; }
        h3 { font-size: 20px; margin-bottom: 10px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h2>Asignaturas</h2>
            <table>
                <thead>
                    <tr>
                        <td><h3>Nombre</h3></td>
                        <td><h3>Código</h3></td>
                        <td><h3>Acción</h3></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for course in courses %}                   
                            <td>{{ course.name }}</td>
                            <td>{{ course.code }}</td>
                            <td><!-- Acciones para cada asignatura --></td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <a href="{% url 'crear_asignatura' %}" class="btn btn-primary" id="crearAsignaturaBtn">Crear Nueva Asignatura</a>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" id="submitButton" style="display: none;">Guardar</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('crearAsignaturaBtn').addEventListener('click', function() {
            var submitButton = document.getElementById('submitButton');
            if (submitButton.style.display === 'none' || submitButton.style.display === '') {
                submitButton.style.display = 'block';
            } else {
                submitButton.style.display = 'none';
            }
        });
    </script>
</body>
</html>