{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Listado de Películas</h1>
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{ movie.imagen }}" class="card-img-top" alt="{{ movie.titulo }} Poster">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.titulo }}</h5>
                            <p class="card-text"><strong>Género:</strong> {{ movie.genero }}</p>
                            <p class="card-text"><strong>Fecha de lanzamiento:</strong> {{ movie.fecha }}</p>
                            <p class="card-text"><strong>Calificación:</strong> {{ movie.calificacion }}</p>
                            <p class="card-text">{{ movie.resumen }}</p>
                        </div>
                        <div class="card-footer">
                            
                            <a href="#" class="btn btn-outline-secondary">Agregar a Favoritos</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay películas disponibles. html</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
